.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 360px;
  padding: 24px;
  margin: 0 auto;
  border: 1px solid #ddd;
}

.form input[type='number'] {
  padding: 6px;
  font-size: 16px;
}

fieldset {
  padding: 12px;
  border: 1px solid #ccc;
}

.form button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #4e75ff;
  border: none;
  cursor: pointer;
  width: fit-content;
}
